.head {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
    box-shadow:0.5px 0.5px #888888;
    /* position: fixed;
    width: 100%;
margin: 0 10px;
z-index: 1000;
top: 0;
right: 0; */
  }
  
  .heading {
    display: flex;
   font-size: 25px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: oblique;
   font-weight: bold;
   padding-left: 90px;
  }
  
  .head-items {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 40px;
    flex-wrap: wrap;
    
  }
  
  .head-items :hover {
   text-decoration: underline;
    cursor: pointer;
  }