.center-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .men{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 25px;
  
  }

  .item-men{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .men1 {
  
    /* max-width: 300px;   */
    max-height: 350px;
    
  }

  .crt {
    display: flex;
    flex-direction: row;
    gap: 20px;
  cursor: pointer;
  }

  .men div{
    border: 1px solid #888888;
    padding: 10px;
  width:350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  
  }

  .sec-top {
    background-color: #888888;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .ins-hd{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 20px;
    padding-left: 90px;
  }
  