.table{
    padding: 30px;
   display: flex;
   
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   background-color: #a39f9f;
    
  }
  
  .gh {
    border : none;
    border-spacing: 120px 10px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   cursor: pointer;
  }